body{
    background-color: #7575f1;
}
.tamano{
    width: 702px;
    margin: 10px auto;
    border: 3px black solid;
}
.logo{
    width: 60px;
}
.color{
    background-color: hsla(240, 92%, 64%, 0.984);
}